

.mainlogo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 95px;
  width: 269px;
}

#appbox {
  width: 25px;
  height: 25px;
  background-image: url('https://ssl.gstatic.com/gb/images/i1_0430b5ba.png');
  background-position: -132px -38px;

}
#alert {
  width: 20px;
  height: 20px;
  background-image: url('https://ssl.gstatic.com/gb/images/i1_0430b5ba.png');
  background-position: -194px -21px;
  background-color: black;
  margin: 5px;
  box-sizing: border box;
  border-radius: 50%;
}

#userlogo {
  background-image: url('https://lh3.googleusercontent.com/-Gev7vIO_Jss/AAAAAAAAAAI/AAAAAAAAAAA/qItw3-GvJu4/s32-c/photo.jpg');
  width: 32px;
  height: 32px;
  background-color: lightblue;
}
